{% extends 'base.html' %}

{% block content %}

<h1>Athletes</h1>

<ul class='athlete-list'>
{% for athlete in object_list %}

  <li>
    <img src="{{ athlete.image }}" alt="">
    <h3>{{ athlete.first_name }} {{ athlete.last_name }}</h3>
    {{ athlete.league }} {{ athlete.sport }}<br/>
    Team: {{ athlete.team }} <br/>
    Retired: {{ athlete.retired }} <br/>
    Current: {{ athlete.current_position }} <br/>
    <a href="/edit-athlete/{{ athlete.pk }}">Edit</a> &nbsp; &nbsp;
    <a href="/delete-athlete/{{ athlete.pk }}">Delete</a>
  </li>

{% endfor %}
</ul>

{% endblock %}
