{% extends 'base.html' %}

{% block content %}

<h1>Add new athlete</h1>

<form method="post" class='athlete-form'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

{% endblock %}
