/* ATHLETE LIST */

.athlete-list {
  padding-left: 0;
}

.athlete-list li {
  width: 10em;
  display: inline-block;
  margin: .5em;
  vertical-align: top;
}

.athlete-list h3 {
  margin: .3em 0;
}

.athlete-list img {
  width: 8em;
}


/* ATHLETE FORM */
.athlete-form {
  width: 350px;
  margin: 0 auto;
}

.athlete-form label {
  width: 8em;
}

.athlete-form input {
  float: right;
}

.athlete-form input[type='checkbox'] {
  float: none;
  margin-left: 5.5em;
}

.athlete-form p {
  margin: .5em 0;
}

input[type='submit']:hover {
  cursor: pointer;
}

