html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Open Sans';
  overflow: auto;

}

h1, h2, h3, h4, h5 {
  font-family: 'Varela Round';
}

.background {
  background: url('../images/football.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  overflow: auto;
}

#logo {
  position: absolute;
  z-index: 1;
  right: 3em;
  top: 1.7em;
}

a {
  color: #336699;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #4080bf;
}

.container {
  width: 70%;
  min-width: 600px;
  min-height: 450px;
  margin: 6em auto 2em auto;
  background-color: rgba(255,255,255,.85);
  padding: 1em 2em;
  overflow: auto;
}

nav {
  text-align: right;
}

nav a {
  display: inline-block;
  font-size: 1.2em;
  margin: 0 .3em;
}
