<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Thuzio</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/athlete.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Varela+Round' rel='stylesheet' type='text/css'>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="{% static 'javascript/script.js' %}"></script>
    </head>

<body>
<div class="background">
    <a href="/">
        <img src="{% static "images/logo.png" %}" alt="logo" id='logo' />
    </a>

    <div class="container">
        <nav>
            <a href="/athletes" id='all-athletes'>All athletes</a>
            <a href="/new-athlete" id='add-athlete'>Add new athlete</a>
            {% if user.is_authenticated %}
            <a href="/logout">Log out</a>
            {% else %}
            <a href="/login">Log in</a>
            <a href="/register">Register</a>
            <script>
            // $(function() {
            //   $('#all-athletes').addClass('restricted');
            //   $('#add-athlete')addClass('restricted');
            // });
            document.getElementById('all-athletes').setAttribute('class', 'restricted');
            document.getElementById('add-athlete').setAttribute('class', 'restricted');
            var restricted = document.getElementsByClassName('restricted');
            for (var i = 0; i < restricted.length; i++) {
              restricted[i].addEventListener('click', function(e) {
                isAuthenticated(e);
              });
            }
            </script>
            {% endif %}
        </nav>

        {% block content %}
        {% endblock %}

    </div> <!-- end container -->

</div> <!-- end background -->

</body>

</html
