{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Welcome {{ user.username }}</h1>
        <p>Click on the navigation bar to manage your sports talents.</p>
    {% else %}
        <h1>Welcome to Thuzio</h1>
        <p>Please log in or register.</p>
    {% endif %}

{% endblock %}
