{% extends 'base.html' %}

{% block content %}
    <h1>Please log in</h1>

    <form action="" id="login-form" method="post" class='athlete-form'>{% csrf_token %}
        <p>
            <label>Username:</label>
            <input type="text" name="username" value="" size="20" />
        </p>
        <p>
            <label>Password:</label>
            <input type="password" name="password" value="" size="20" />
        </p><input type="submit" value="submit" />
        </p>
    </form>
{% endblock %}
