{% extends 'base.html' %}

{% block content %}
<h1>Register</h1>
{% if registered %}
    <p>Thank you for registering.</p>

{% else %}
    <form action="/register" id="user-form" method="post" class='athlete-form'>{% csrf_token %}
        {{ user_form.as_p }}
        <input type="submit" value="submit" />
    </form>
{% endif %}

{% endblock %}
